<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="%d{yyyy-dd-MM HH:mm:ss,SSS} %-4level %logger: %msg%n" />-->
<!--        </Console>-->

        <RollingFile name="hippodrome" fileName="logs/hippodrome.log" filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-dd-MM HH:mm:ss,SSS} %-4level %logger: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                <IfFileName glob="hippodrome.*.log"/>
                <IfLastModified age="P7D"/>
            </Delete>
        </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="hippodrome"/>
        </Root>
    </Loggers>
</Configuration>